extends ../layout

block hero-unit
  .jumbotron
    .container

block content
  .container
    h4 Welcome to Admin Page!
    h4 Only Admin account can browse this page.
    h4
    h4 You can control users info.

    a.btn.btn-outline-primary(href='../users') See Users List