extends layout

block hero-unit
  .jumbotron
    .container

block content
  .container
    h3 Welcom to JBrite!

    if !currentUser
      h4 Please Log in to CREATE / JOIN event
    else
      h4 You can CREATE / JOIN event!
